
.seksyen1{
    background-color:#EEEBDD;
    padding: 7% 10% 7%;
}

.seksyen2{
    background-color: #630000;
    padding: 5%;
    text-align: center;
}

.feature-box{
    padding: 3.5rem;
}

.nav-link{
    text-align: center;
}

.footer{
    background-color: #1B1717;
    padding: 2%;
    text-align: center;
}

.media{
    color: white;
}

.text{
    color: white;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}